<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metastud System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Metastud system</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Log-out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Grades</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> First Name</th>
            <th> Last name</th>
            <th> Group</th>
            <th> Subject</th>
            <th> Value</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="grade: ${userGrades}">
            <td th:text="${grade.student} == null ? 'NEĮVESTA' : ${grade.student.firstName}"></td>
            <td th:text="${grade.student} == null ? 'NEĮVESTA' : ${grade.student.lastName}"></td>
            <td th:if="${grade.student} != null"
                th:text="${grade.student.studentsGroup} == null ? 'NEĮVESTA' : ${grade.student.studentsGroup.name}"></td>
            <td th:if="${grade.grade != null}" th:text="${grade.subject} == null ? 'NEĮVESTA' : ${grade.subject.name}"></td>
            <td th:text="${grade.grade} == null ? 'NEĮVESTA' : ${grade.grade}"></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>